* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body: #d7d7d7;
  --background: #1A1D23;
  --heading: #f8f8f8;
  --highlight: #ff57b2;
  --info: #bbbbbb;
  --white: #fff;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--heading);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font: 400 1rem 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

button {
  cursor: pointer;
  transition: filter 0.2s;

  &:enabled:hover {
    filter: brightness(0.9);
  }
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: none;
}
